:root {
  --primary-color: #ffd52c;
  --secondary-color: #ff5c00;
  --tertiary-color: #c72d04;
  --background-color: #111;
  --hover-color: rgb(255, 213, 44, 0.1);
  --subnav-color: rgb(255, 213, 44, 0.5);
  --subnavHover-color: rgb(255, 213, 44, 0.6);
  /*
  --primary-color: #23fc27;
  --secondary-color: #11a312;
  --tertiary-color: #064703;
  */

  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 0.5rem;
  
  scrollbar-color: var(--primary-color) var(--secondary-color);
  /* clamp(min size, pref size, max size) */
  font-size: clamp(14px, 2vw, 20px);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
  
}
#root {
  height: 95vh;
  /*width: 95vw;
  border: 2px solid var(--primary-color);
  box-shadow: 0px 0px 2rem;
  padding: 0;*/

}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

@keyframes crtAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 10000%;
  }
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.crt-animation {
  height: 100%;
  width: 100%;
  /*CRT animation */
  background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
  animation: crtAnimation 100s linear infinite;
  background-size: 100% 80%;
}